{{{body}}}
<main>
    <div class="menu_container">

        <a href="#">Dados Pessoais</a>
        <a href="#">Marcar Consulta</a>
        <a href="#">Marcar Exame</a>
        <a href="#">Fatura</a>
        <a href="#">Consultas Realizadas</a>
        <a href="#">Exames Realizados</a>
    </div>
    <div class="user_data_space">
        <table class="user_info">
            <tr>
                    <td>Nome Completo</td>
                    <td colspan="3"> {{{json.user_name}}}</td>
                </tr>
            <tr>
                <td>Email</td>
                <td>{{{json.user_mail}}}</td>
                <td>CPF</td>
                <td>{{{json.user_cpf}}}</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>{{{json.user_addr}}}</td>
                <td>Numero</td>
                <td>{{{json.user_numb}}}</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>{{{json.user_rel}}}</td>
                <td>T. Sanguineo</td>
                <td>{{{json.user_aborh}}}</td>
            </tr>
        </table>

        <table class="user_cons">
            <tr>
                <td>NOME</td>
                <td colspan="3"> FULANO DE TAL</td>
            </tr>
            <tr>
                <td>Identidade</td>
                <td>xxxxxxxxxx-x</td>
                <td>CPF</td>
                <td>xxx.xxx.xxx-xx</td>
            </tr>
            <tr>
                <td>Rua</td>
                <td>Av. X</td>
                <td>Numero</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>E. Civil</td>
                <td>Casado</td>
                <td>T. Sanguineo</td>
                <td>ABO</td>
            </tr>
        </table>

        <table class="user_hist">
            <tr>
                <td>DATA</td>
                <td>EXAME</td>
                <td>MEDICO</td>
            </tr>
            <tr>
                <td>DATA 1</td>
                <td>EXAME 1</td>
                <td>MEDICO 1</td>
            </tr>
            <tr>
                <td>DATA 2</td>
                <td>EXAME 2</td>
                <td>MEDICO 2</td>
            </tr>
            <tr>
                <td>DATA 3</td>
                <td>EXAME 3</td>
                <td>MEDICO 3</td>
            </tr>
        </table>

    </div>
</main>
